body {
    height: 200px;
    width: 400px;
    padding: 10px;
    background-image: linear-gradient(174.2deg, rgba(255, 244, 228, 1) 7.1%, rgba(240, 246, 238, 1) 67.4%);
}

button {
    display: block;
    margin-bottom: 10px; /* Регулируйте отступ между элементами по вашему усмотрению */
}

